---
import Layout from '../../layouts/Layout.astro'

interface Category {
    name: string
}

interface Article {
    id: string
    title: string
    authors: { username: string }[]
    content: string
    views: string
    summary: string
    categories: Category[]
    thumb: string
    slug: string
}

let articles: Article[] = []
const category = Astro.params.category

try {
    const response = await fetch(
        `https://cms.2077.xyz/api/articles/category/${category}/`,
    )
    if (!response.ok) {
        throw new Error(`HTTP error! status: ${response.status}`)
    }
    const data = await response.json()
    console.log(data)
    articles = data.data
} catch (error) {
    console.error('Error fetching articles:', error)
}
---

<Layout
    title={`${category} | 2077 Research`}
    description="Deep dives and technical analyses on Ethereum infrastructure, protocols, and applications"
>
    <main class="max-w-screen-3xl m-auto">
        <section class="pt-8 px-6 lg:px-32 mb-24">
            <div class="flex justify-between">
                <div
                    class="menu hidden lg:block bg-black text-white rounded-xl h-[520px] mr-12 xl:w-1/6"
                >
                    <div class="font-bold mt-16 px-8 flex flex-col">
                        {
                            Array.from(
                                new Set(
                                    articles.flatMap((article) =>
                                        article.categories.map(
                                            (category) => category.name,
                                        ),
                                    ),
                                ),
                            ).map((cat) => (
                                <a
                                    href={`/categories/${cat}`}
                                    class={
                                        cat === Astro.params.category
                                            ? 'p-4 mb-6 text-black bg-greenLm rounded'
                                            : 'bg-black text-white p-4 mb-6'
                                    }
                                >
                                    {cat}
                                </a>
                            ))
                        }
                    </div>
                </div>
                <ul
                    class="mb-32 grid sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-12 xl:w-5/6"
                >
                    {
                        articles.map((article: Article) => (
                            <li data-key={article.id}>
                                <a
                                    class="bg-transparent"
                                    href={`/${article.slug}`}
                                >
                                    <img
                                        src={`${article.thumb}`}
                                        alt=""
                                        width="720"
                                        height="480"
                                    />
                                </a>
                                <ul class="flex py-2">
                                    {article?.categories.map((category) => (
                                        <li>
                                            <a
                                                href={`/categories/${category.name}`}
                                                class="mr-2 font-bold flex items-center gap-0.5 text-sm bg-[#1B1B1B] text-[#C6FF50] max-w-fit-content px-2 py-1.5 rounded-md"
                                            >
                                                {category.name}
                                            </a>
                                        </li>
                                    ))}
                                </ul>
                                <h2 class="mb-2 text-xl font-bold">
                                    {article.title}
                                </h2>
                                <p class="text-lg text-gray-900 font-bold mb-4">
                                    {article.summary}
                                </p>
                            </li>
                        ))
                    }
                </ul>
            </div>
        </section>
    </main>
</Layout>

<style>
    .menu {
        clip-path: polygon(30px 0, 100% 0, 290% 20px, 85% 100%, 0 100%, 0 30px);

        a {
            clip-path: polygon(
                30px 0,
                100% 0,
                110% 20px,
                85% 100%,
                0 100%,
                0 30px
            );
        }
    }
</style>
